html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background: #C1CFEC;
    font-family: arial;
}

.flex {
    display: flex;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    outline: none;
    height: 25px
}

.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tela,
.teclado {
    height: 400px;
    margin: 20px;
    background: white;
}


.tela {
    flex: 8;
    padding: 40px;
    box-sizing: border-box;
    font-size: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.input-foto {
    justify-content: space-between
}

.foto-nome {
    flex-direction: column;
    align-items: center
}

.foto-nome img {
    margin: 0 0 10px 0;
}

.info {
    justify-content: center;
    height: 60px;
    border-top: 0.5px solid #ddd;

}